<div class="header pb-6" style="background:url('assets/images/banner/banner6.jpg');height: 200px;">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <p class="text-center text-light mt-3" style="margin:auto;font-size: 40px;">Edit Juri</p>

            </div>
            <!-- Card stats -->

        </div>
    </div>
</div>
<div class="row" style="margin-top: -100px;">
    <div class="col"></div>
    <div class="col-lg-8 col-md-10">
        <a routerLink="/file-juri" class="btn btn-neutral mb-4"> <i class="fa fa-angle-left"></i> Back</a>
        <div class="card">

            <div class="card-body">
                <form>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Username</label>
                                    <input type="text" id="input-username" class="form-control" placeholder="Username"
                                        value="Iskandar">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Kontingen</label>
                                    <input type="text" class="form-control" placeholder="Kontingen" value="Ciukui">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1" class="form-control-label">Position</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>J1</option>
                                        <option>J2</option>
                                        <option>J3</option>
                                        <option>J4</option>
                                        <option>J5</option>
                                        <option>J6</option>
                                        <option>J7</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label class="form-control-label">Tatami</label>
                                <br>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-danger active">
                                        <input type="radio" name="options" value="AKA" id="option1" checked><i
                                            class="fa fa-street-view"></i> AKA
                                    </label>
                                    <label class="btn btn-primary">
                                        <input type="radio" name="options" value="AO" id="option2"><i
                                            class="fa fa-street-view"></i> AO
                                    </label>
                                </div>

                            </div>
                        </div>
                        <hr class="my-4" />
                        <div class="row">

                            <div class="col-lg-12">
                                <button class="btn btn-success float-right"> <i class="fa fa-save"></i> Simpan</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>