<div class="header pb-6" style="background:url('assets/images/banner/banner6.jpg');height: 200px;">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <p class="text-center text-light mt-3" style="margin:auto;font-size: 40px;">Penilaian Admin</p>

            </div>

        </div>
    </div>
</div>
<div class="row" style="margin-top: -80px;" *ngIf="!isLoading">
    <div class="col"></div>
    <div class="col-lg-8 col-md-10">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="text-center">
                                    <label>Nama Atlet </label>
                                    <h1> {{ userData.atlet_name  }}</h1>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-center">
                                    <label>Memainkan kata </label>
                                    <h2> {{ userData.kata_name }}</h2>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-center">
                                    <label>Kontingen </label>
                                    <h2>{{ userData.kontingen }}</h2>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
<div class="row" *ngIf="!isLoading">
    <div class="col"></div>
    <div class="col-lg-10 col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <thead>
                                    <tr>

                                        <th>No</th>
                                        <th>Juri</th>
                                        <th>Nilai Teknik</th>
                                        <th>Nilai Atletik</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let i = index;let item of Data">
                                        <th>{{ i+1 }}</th>
                                        <th>{{ item.juri }}</th>
                                        <td>
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option>0</option>
                                                    <option [attr.selected]="i + 1 == optionValue[i].userId && option.selectedTechnical ? true : null"
                                                    *ngFor="let option of optionValue[i].data">{{ option.point }}</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <select class="form-control">
                                                    <option>0</option>
                                                    <option [attr.selected]="i + 1 === optionValue[i].userId && option.selectedAthletic ? true : null"
                                                    *ngFor="let option of optionValue[i].data">{{ option.point }}</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12">
                            <hr>
                            <button class="btn btn-outline-success float-right"> <i class="fa fa-save"></i> Simpan
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col"></div>
</div>
