<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Pemberitahuan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Apakah anda yakin ingin menghapus data ini?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Hapus</button>
            </div>
        </div>
    </div>
</div>
<div class="header pb-6" style="background:url('assets/images/banner/banner6.jpg');height: 200px;">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <p class="text-center text-light mt-3" style="margin:auto;font-size: 40px;">Data Atlet</p>

            </div>
            <!-- Card stats -->

        </div>
    </div>
</div>
<div class="row" style="margin-top: -100px;">
    <div class="col"></div>
    <div class="col-lg-11 col-md-11">
        <button class="btn btn-outline-primary btn-sm" routerLink="/add-atlet-hth"> <i class="fa fa-plus"></i>
            Tambah atlet perorangan
          </button>
        <button class="btn btn-outline-warning btn-sm float-right" routerLink="/add-atlet"> <i
                class="fa fa-plus"></i>
            Tambah atlet grup
        </button>
        <div class="nav-wrapper">
            <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab"
                        href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true"><i
                            class="fa fa-male mr-1"></i><i class="fa fa-male mr-2"></i> Head to head</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab"
                        href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false"><i
                            class="fa fa-users mr-2"></i> Grouping</a>
                </li>
            </ul>
        </div>

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
            <div class="table-responsive shadow bg-white rounded mt-2">
              <table class="table table-sm table-borderless table-striped table-striped">
                <thead class="thead-light text-dark">
                  <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>Kontingen</th>
                    <th>Kelas</th>
                    <th>Kata</th>
                    <th>Atribut</th>
                    <th>Pertandingan</th>
                    <th>Opsi</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i = index; let item of atlet; let m of match">
                    <td *ngIf="item.grouping === 'null'">{{i + 1}}</td>
                    <td *ngIf="item.grouping === 'null'">{{item.atlet_name}}</td>
                    <td *ngIf="item.grouping === 'null'">{{item.kontingen}}</td>
                    <td *ngIf="item.grouping === 'null'">{{item.class}}</td>
                    <td *ngIf="item.grouping === 'null'">{{item.kata_name}}</td>

                    <td *ngIf="item.grouping === 'null'"> <span
                        class="badge badge-pill {{item.attribute === 'aka' ? 'badge-danger' : 'badge-primary'}}">{{item.attribute}}</span>
                    </td>

                    <td *ngIf="item.grouping === 'null'">
                      <div *ngIf="item.status === 0">
                        <button (click)="startGroupMatch(item)" class="btn btn-block btn-sm btn-outline-success">
                          Mulai
                        </button>
                      </div>

                      <div *ngIf="item.status === 1">
                        <button (click)="finishMatch(item)" class="btn btn-block btn-sm btn-outline-info">
                          Selesaikan
                        </button>
                      </div>

                      <div *ngIf="item.status === 2">
                        <button disabled (click)="finishMatch(item)" class="btn btn-block btn-sm btn-dark">
                          Sudah Tanding
                        </button>
                      </div>
                    </td>

                    <td *ngIf="item.grouping === 'null'">
                      <div *ngIf="item.status === 1; else enable">
                        <button class="btn btn-block btn-sm btn-outline-danger" (click)="isMatch(item)">
                          Diskualifikasi
                        </button>
                      </div>

                      <ng-template #enable>
                        <button class="btn btn-block btn-sm btn-danger" (click)="deleteAtlet(item)">
                          Diskualifikasi
                        </button>
                      </ng-template>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
            <div class="row">
              <div *ngFor="let ii = index; let groups of group" class="col-md-12 my-2">
                <div class="card card-shadow rounded">
                  <div class="card-header bg-primary">
                    <h1 class="text-center text-uppercase text-white">
                      <b>
                        {{groups.group_name}}
                      </b>
                    </h1>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive shadow bg-white rounded mt-2">
                      <table class="table table-sm table-bordered table-striped table-striped">
                        <thead class="thead-light text-dark">
                          <tr>
                            <th>No</th>
                            <th>Nama</th>
                            <th>Kontingen</th>
                            <th>Kelas</th>
                            <th>Kata</th>
                            <th>Atribut</th>
                            <th class="text-center">Pertandingan</th>
                            <th class="text-center">Opsi</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let i = index; let item of atlet">
                            <td *ngIf="groups.group_name === item.grouping">{{i + 1}}</td>
                            <td *ngIf="groups.group_name === item.grouping">{{item.atlet_name}}</td>
                            <td *ngIf="groups.group_name === item.grouping">{{item.kontingen}}</td>
                            <td *ngIf="groups.group_name === item.grouping">{{item.class}}</td>
                            <td *ngIf="groups.group_name === item.grouping">{{item.kata_name}}</td>

                            <td *ngIf="groups.group_name === item.grouping"><span
                                class="badge badge-pill {{item.attribute === 'ao' ? 'badge-danger' : 'badge-primary'}}">{{item.attribute}}</span>
                            </td>
                            <td *ngIf="groups.group_name === item.grouping">
                              <div *ngIf="item.status === 0">
                                <button (click)="startGroupMatch(item)" class="btn btn-block btn-sm btn-outline-success">
                                  Mulai
                                </button>
                              </div>

                              <div *ngIf="item.status === 1">
                                <button (click)="finishMatch(item)" class="btn btn-block btn-sm btn-outline-info">
                                  Selesaikan
                                </button>
                              </div>

                              <div *ngIf="item.status === 2">
                                <button disabled (click)="finishMatch(item)" class="btn btn-block btn-sm btn-dark">
                                  Sudah Tanding
                                </button>
                              </div>
                            </td>
                            <td *ngIf="groups.group_name === item.grouping">
                              <div *ngIf="item.status === 1; else enable">
                                <button class="btn btn-block btn-sm btn-outline-danger" (click)="isMatch(item)">
                                  Diskualifikasi
                                </button>
                              </div>

                              <ng-template #enable>
                                <button class="btn btn-block btn-sm btn-danger" (click)="deleteAtlet(item)">
                                  Diskualifikasi
                                </button>
                              </ng-template>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button class="btn btn-block btn-outline-primary" (click)="deleteGroup(groups)">
                      Hapus Group & Data
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
    <div class="col"></div>
</div>
