<div class="modal fade" id="truncateModal" tabindex="-1" role="dialog" aria-labelledby="truncateModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-gradient-danger">
            <div class="modal-header">
                <h5 class="modal-title text-white text-uppercase" id="truncateModalLabel">
                  <b>Reset Penilaian</b>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-white">
                <b>Penilaian akan di reset ulang</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                <button type="button" class="btn btn-white" (click)="truncate()" data-dismiss="modal">Lanjut</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="truncateFinal" tabindex="-1" role="dialog" aria-labelledby="truncateFinalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-gradient-primary">
            <div class="modal-header">
                <h5 class="modal-title text-white text-uppercase" id="truncateFinalLabel">
                  <b>Reset Babak Final</b>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-white">
                <b>Babak Final akan di reset ulang</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                <button type="button" class="btn btn-white" (click)="truncateMatch()" data-dismiss="modal">Lanjut</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-gradient-danger">
            <div class="modal-header">
                <h5 class="modal-title text-white text-uppercase" id="deleteModalLabel">
                  <b>Diskualifikasi</b>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-white">
                <b>{{finalAtlet.atlet_name}}</b> akan di <b>diskualifikasi</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                <button type="button" class="btn btn-white" (click)="deleteAtlet(finalAtlet)" data-dismiss="modal">Lanjut</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="finalModal" tabindex="-1" role="dialog" aria-labelledby="finalModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content bg-gradient-info text-white">
            <div class="modal-header">
                <h4 class="modal-title text-white text-uppercase font-weight-bold" id="finalModalLabel">
                  Babak Final
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="atletName" class="text-uppercase font-weight-bold">
                      Nama Atlet
                    </label>
                    <input id="atletName" class="form-control font-weight-bold text-dark" [(ngModel)]="finalAtlet.atlet_name" [ngModelOptions]="{standalone: true}" />
                  </div>
                  <div class="form-group col-md-6">
                    <label for="atletKontingen" class="text-uppercase font-weight-bold">
                      Kontingen
                    </label>
                    <input id="atletKontingen" class="form-control font-weight-bold text-dark" [(ngModel)]="finalAtlet.kontingen" [ngModelOptions]="{standalone: true}" />
                  </div>
                  <div class="form-group col-md-8">
                    <label for="atletKontingen" class="text-uppercase font-weight-bold">
                      Kata Yang Dimainkan
                    </label>
                    <input id="atletKontingen" placeholder="Kata Babak Final" class="form-control text-uppercase font-weight-bold text-dark" [(ngModel)]="finalAtlet.kata_name" [ngModelOptions]="{standalone: true}" />
                  </div>
                  <div class="form-group col-md-4">
                    <label for="atletKontingen" class="text-uppercase font-weight-bold">
                      Atribut
                    </label>
                    <input id="atletKontingen" class="form-control font-weight-bold text-dark" [(ngModel)]="finalAtlet.attribute" [ngModelOptions]="{standalone: true}" />
                  </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                <button type="button" (click)="setFinalMatch()" class="btn btn-white" data-dismiss="modal">Lanjut</button>
            </div>
        </div>
    </div>
</div>

<div class="header pb-6" style="background:url('assets/images/banner/banner6.jpg');height: 200px;">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <p class="text-center text-light mt-3" style="margin:auto;font-size: 40px;">
                  Data Pertandingan
                </p>
            </div>
            <!-- Card stats -->

        </div>
    </div>
</div>
<div class="row" style="margin-top: -100px;">
    <div class="col"></div>
    <div class="col-lg-11 col-md-11">
        <button class="btn btn-warning btn-sm" data-target="#truncateModal" data-toggle="modal"> <i class="fa fa-plus"></i>
            Reset Semua Pertandingan
          </button>
        <button class="btn bg-gradient-primary btn-sm float-right" data-target="#truncateFinal" data-toggle="modal"> <i
                class="fa fa-plus"></i>
            Reset Babak Final
        </button>
        <div class="nav-wrapper">
            <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-2-tab" data-toggle="tab"
                        href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false"><i
                            class="fa fa-users mr-2"></i> Kelasemen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-1-tab" data-toggle="tab"
                        href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true"><i
                            class="fa fa-male mr-1"></i><i class="fa fa-male mr-2"></i>Babak Final</a>
                </li>
            </ul>
        </div>

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
            <div class="row">
              <div *ngFor="let ii = index; let groups of group" class="col-md-12 my-2">
                <div *ngIf="groups.id === 3" class="card card-shadow rounded">
                  <div class="card-header bg-gradient-success">
                    <h1 class="text-center text-uppercase text-white">
                      <b>
                        {{groups.group_name}}
                      </b>
                    </h1>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive shadow bg-white rounded mt-2">
                      <table class="table table-sm table-bordered table-striped table-striped">
                        <thead class="thead-light text-dark">
                          <tr>
                            <th>No</th>
                            <th>Nama</th>
                              <th>Kontingen</th>
                              <th>Kelas</th>
                              <th>Kata</th>
                              <th>Atribut</th>
                            <th class="text-center">Pertandingan</th>
                            <th class="text-center">Opsi</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let i = index; let item of atlet">
                            <td *ngIf="groups.group_name === item.grouping">{{i + 1}}</td>
                            <td *ngIf="groups.group_name === item.grouping">{{item.atlet_name}}</td>
                            <td *ngIf="groups.group_name === item.grouping">{{item.kontingen}}</td>
                            <td *ngIf="groups.group_name === item.grouping">{{item.class}}</td>
                            <td *ngIf="groups.group_name === item.grouping">
                              <b class="text-uppercase font-weight-bold">
                                {{item.kata_name}}
                              </b>
                            </td>

                            <td *ngIf="groups.group_name === item.grouping"><span
                                class="badge badge-pill {{item.attribute === 'aka' ? 'badge-danger' : 'badge-primary'}}">{{item.attribute}}</span>
                            </td>
                            <td *ngIf="groups.group_name === item.grouping">
                              <div *ngIf="item.status === 0">
                                <button (click)="startGroupMatch(item)" class="btn btn-block btn-sm btn-outline-success">
                                  Mulai
                                </button>
                              </div>

                              <div *ngIf="item.status === 1">
                                <button (click)="finishMatch(item)" class="btn btn-block btn-sm btn-outline-info">
                                  Selesaikan
                                </button>
                              </div>

                              <div *ngIf="item.status === 2">
                                <button class="btn border-0 bg-gradient-success btn-sm btn-dark">
                                  Sudah Tanding
                                </button>
                              </div>
                            </td>
                            <td *ngIf="groups.group_name === item.grouping">
                              <div *ngIf="item.status === 1; else enable">
                                <button class="btn btn-block btn-sm btn-outline-dark" (click)="isMatch(item)">
                                  Diskualifikasi
                                </button>
                              </div>

                              <ng-template #enable>
                                <button class="btn btn-block btn-sm btn-dark" (click)="deleteAtlet(item)">
                                  Diskualifikasi
                                </button>
                              </ng-template>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button class="btn btn-block btn-outline-primary" disabled>
                      SOLIDSPORT
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade show active" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
            <div class="row">
              <div *ngFor="let ii = index; let groups of group" class="col-md-12 my-2">
                <div *ngIf="groups.id !== 3" class="card card-shadow rounded">
                  <div class="card-header bg-gradient-info">
                    <h1 class="text-center text-uppercase text-white">
                      <b>
                        {{groups.group_name}}
                      </b>
                    </h1>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive shadow bg-white rounded mt-2">
                      <table class="table table-sm table-bordered table-striped table-striped">
                        <thead class="thead-light text-dark">
                          <tr>
                            <th>No</th>
                            <th>Nama</th>
                              <th>Kontingen</th>
                              <th>Kelas</th>
                              <th>Kata</th>
                              <th>Atribut</th>
                            <th class="text-center">Pertandingan</th>
                            <th class="text-center">Opsi</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let i = index; let item of atlet">
                            <td *ngIf="groups.group_name === item.grouping">{{i + 1}}</td>
                            <td *ngIf="groups.group_name === item.grouping">{{item.atlet_name}}</td>
                            <td *ngIf="groups.group_name === item.grouping">{{item.kontingen}}</td>
                            <td *ngIf="groups.group_name === item.grouping">{{item.class}}</td>
                            <td *ngIf="groups.group_name === item.grouping">{{item.kata_name}}</td>

                            <td *ngIf="groups.group_name === item.grouping"><span
                                class="badge badge-pill {{item.attribute === 'aka' ? 'badge-danger' : 'badge-primary'}}">{{item.attribute}}</span>
                            </td>
                            <td *ngIf="groups.group_name === item.grouping">
                              <div *ngIf="item.status === 0">
                                <button (click)="startGroupMatch(item)" class="btn btn-block btn-sm border-0 btn-sm text-white bg-success">
                                  Mulai
                                </button>
                              </div>

                              <div *ngIf="item.status === 1">
                                <button (click)="finishMatch(item)" class="btn btn-block btn-sm btn-outline-primary">
                                  Selesaikan
                                </button>
                              </div>

                              <div *ngIf="item.status === 2">
                                <button data-target="#finalModal" data-toggle="modal" (click)="finalMatch(item)" class="btn border-0 bg-gradient-info btn-sm btn-dark">
                                  Lanjut Ke Final
                                </button>
                              </div>
                            </td>
                            <td *ngIf="groups.group_name === item.grouping">
                              <div *ngIf="item.status === 1; else enable">
                                <button class="btn btn-block btn-sm border-0 btn-sm text-white bg-gradient-danger" data-target="#deleteModal" data-toggle="modal" (click)="finalMatch(item)">
                                  Diskualifikasi
                                </button>
                              </div>

                              <ng-template #enable>
                                <button class="btn btn-block border-0 btn-sm text-white bg-gradient-danger" data-target="#deleteModal" data-toggle="modal" (click)="finalMatch(item)">
                                  Diskualifikasi
                                </button>
                              </ng-template>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button class="btn btn-block btn-outline-primary" disabled>
                      SOLIDSPORT
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
    <div class="col"></div>
</div>
