<body style="background:url('assets/images/banner/banner9.jpg');background-repeat: no-repeat;">
    <div class="container mt-2">
        <div class="row">
            <div class="col-md-12">

                <h1 class="pt-3 text-center" style="font-family: 'Montserrat', sans-serif;text-transform: uppercase;color: #fff;">
                    <strong> Kata Perorangan kadet
                        Putra</strong>
                </h1>
                <hr>
            </div>
        </div>
    </div>
    <div class="container-fluid" *ngFor="let item of Data">
        <div class="row">
            <div class="col-md-4">
                <div *ngIf="item.belt === 'AKA'" class="card bg-danger"
                    style="width: 100%;height: 330px;border-radius: 20px;">
                    <div class="card-body">
                        <h1 class="text-center" style="font-size: 200px;color: white;font-family: 'Arial', sans-serif;">
                            {{item.score}}</h1>
                    </div>
                </div>
                <div *ngIf="item.belt === 'AO'" class="card bg-primary"
                    style="width: 100%;height: 330px;border-radius: 20px;">
                    <div class="card-body">
                        <h1 class="text-center" style="font-size: 200px;color: white;font-family: 'Arial', sans-serif;">
                            {{item.score}}</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-8 mt-4">
                <div class="card">
                    <div class="container">
                        <h1 class="mb-0"
                            style="font-family: 'Arial', sans-serif;font-size: 50px;text-transform: uppercase;">
                            {{item.username}}</h1>
                    </div>
                </div>
                <div class="card">
                    <div class="container">

                        <h1 class="mb-0"
                            style="font-family: 'Arial', sans-serif;font-size: 50px;text-transform: uppercase;">
                            {{item.kontingen}}
                        </h1>
                    </div>
                </div>
                <div class="card">
                    <div class="container">

                        <h1 class="mb-0"
                            style="font-family: 'Arial', sans-serif;font-size: 50px;text-transform: uppercase;">
                            {{item.kata}}
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" *ngFor="let item of Data">
        <div class="row">
            <div class="col-md-12">

                <div class="table-responsive">

                    <table class="table">
                        <thead *ngIf="item.belt==='AKA'" class="bg-danger">

                            <tr>
                                <th style="background-color: #fff !important;border:none !important;">
                                    <div class="text-center">
                                        <img src="assets/images/logo/ada.png" class="img-fluid" style="width: 80px;"
                                            alt="">
                                    </div>
                                </th>
                                <!-- INDIKATOR
                                        <span class="dot bg-merah"></span>
                                        <span class="dot bg-success"></span>
                                        <span class="dot bg-biru"></span>
                                     -->
                                <th>J-1 <span class="dot bg-success"></span></th>
                                <th>J-2 <span class="dot bg-success"></span></th>
                                <th>J-3 <span class="dot bg-success"></span></th>
                                <th>J-4 <span class="dot bg-success"></span></th>
                                <th>J-5 <span class="dot bg-success"></span></th>
                                <th>J-6 <span class="dot bg-success"></span></th>
                                <th>J-7 <span class="dot bg-success"></span></th>
                                <th>JUMLAH</th>
                                <th>HASIL</th>
                            </tr>
                        </thead>
                        <thead *ngIf="item.belt==='AO'" class="bg-primary">

                            <tr>
                                <th style="background-color: #fff !important;">
                                    <div class="text-center">
                                        <img src="assets/images/logo/ada.png" class="img-fluid" style="width: 80px;"
                                            alt="">
                                    </div>
                                </th>
                                <!-- INDIKATOR
                                        <span class="dot bg-merah"></span>
                                        <span class="dot bg-success"></span>
                                        <span class="dot bg-biru"></span>
                                     -->
                                <th>J-1 <span class="dot bg-success"></span></th>
                                <th>J-2 <span class="dot bg-success"></span></th>
                                <th>J-3 <span class="dot bg-success"></span></th>
                                <th>J-4 <span class="dot bg-success"></span></th>
                                <th>J-5 <span class="dot bg-success"></span></th>
                                <th>J-6 <span class="dot bg-success"></span></th>
                                <th>J-7 <span class="dot bg-success"></span></th>
                                <th>JUMLAH</th>
                                <th>HASIL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th style="color: #fff;font-weight: 700;">TEKNIK</th>

                                <td>12</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                            <tr>

                                <th style="color: #fff;font-weight: 700;">ATLETIK</th>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</body>
