<body *ngIf="!isLoading" style="background:url('assets/images/banner/banner9.jpg');background-repeat: no-repeat;background-size: cover;">
    <div class="container mt-2 mb-4">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12">

                <h1 class="pt-3 text-center"
                    style="font-family: 'Montserrat', sans-serif;text-transform: uppercase;color: #fff;">
                    <strong> Kata Perorangan kadet
                        Putra</strong>
                </h1>
                <hr>
            </div>
        </div>
    </div>
    <div class="container-fluid" *ngIf="userData">
        <div class="col-md-12 col-lg-12 col-xl-12">

            <div class="row">
                <div class="col-md-4">
                    <div *ngIf="userData.attribute.toUpperCase() === 'AKA'" class="card bg-danger" style="width: 100%;height: auto;">
                        <div class="card-body">
                            <h1 class="text-center"
                                style="font-size: 200px;color: white;font-family: 'Arial', sans-serif;">
                                {{ finalScore }}   
                            </h1>
                        </div>
                    </div>
                    <div *ngIf="userData.attribute.toUpperCase() === 'AO'" class="card bg-primary" style="width: 100%;height: auto;">
                        <div class="card-body">
                            <h1 class="text-center"
                                style="font-size: 200px;color: white;font-family: 'Arial', sans-serif;">
                                {{ finalScore }}    
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 mt-4">
                    <div class="card">
                        <div class="container">
                            <h1 class="mb-0"
                                style="font-family: 'Arial', sans-serif;font-size: 50px;text-transform: uppercase;">
                                {{ userData.atlet_name }}</h1>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container">

                            <h1 class="mb-0"
                                style="font-family: 'Arial', sans-serif;font-size: 50px;text-transform: uppercase;">
                                {{ userData.kontingen }}
                            </h1>
                        </div>
                    </div>
                    <div class="card">
                        <div class="container">

                            <h1 class="mb-0"
                                style="font-family: 'Arial', sans-serif;font-size: 50px;text-transform: uppercase;">
                                {{ userData.kata_name }}
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid" *ngFor="let item of Data">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12">

                <div class="table-responsive">

                    <table class="table">
                        <thead *ngIf="item.belt==='AKA'" class="bg-danger">

                            <tr>
                                <th style="background-color: #fff !important;border:none !important;">
                                    <div class="text-center">
                                        <img src="assets/images/logo/ada.png" class="img-fluid" style="width: 80px;"
                                            alt="">
                                    </div>
                                </th>
                                <!-- INDIKATOR
                                        <span class="dot bg-merah"></span>
                                        <span class="dot bg-success"></span>
                                        <span class="dot bg-biru"></span>
                                     -->
                                <th>J-1 <span class="dot bg-success"></span></th>
                                <th>J-2 <span class="dot bg-success"></span></th>
                                <th>J-3 <span class="dot bg-success"></span></th>
                                <th>J-4 <span class="dot bg-success"></span></th>
                                <th>J-5 <span class="dot bg-success"></span></th>
                                <th>J-6 <span class="dot bg-success"></span></th>
                                <th>J-7 <span class="dot bg-success"></span></th>
                                <th>FAC</th>
                                <th>JUMLAH</th>
                                <th>HASIL</th>
                            </tr>
                        </thead>
                        <thead *ngIf="item.belt==='AO'" class="bg-primary">

                            <tr>
                                <th style="background-color: #fff !important;">
                                    <div class="text-center">
                                        <img src="assets/images/logo/ada.png" class="img-fluid" style="width: 80px;"
                                            alt="">
                                    </div>
                                </th>
                                <!-- INDIKATOR
                                        <span class="dot bg-merah"></span>
                                        <span class="dot bg-success"></span>
                                        <span class="dot bg-biru"></span>
                                     -->
                                <th>J-1 <span class="dot bg-success"></span></th>
                                <th>J-2 <span class="dot bg-success"></span></th>
                                <th>J-3 <span class="dot bg-success"></span></th>
                                <th>J-4 <span class="dot bg-success"></span></th>
                                <th>J-5 <span class="dot bg-success"></span></th>
                                <th>J-6 <span class="dot bg-success"></span></th>
                                <th>J-7 <span class="dot bg-success"></span></th>
                                <th>FAC</th>
                                <th>JUMLAH</th>
                                <th>HASIL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th style="color: #fff;font-weight: 700;">TEKNIK</th>
                                <td *ngFor="let points of pointList">
                                    <div *ngIf="points.technical_result_status === 1 ">
                                        {{ points.technical_result }} 
                                    </div>

                                    <div *ngIf="!points.technical_result_status && !points.noColor" style="text-decoration: line-through; color: red;">                                    
                                        {{ points.technical_result > -1 
                                           ? points.technical_result 
                                           : points.FAC_TECH || points.technical_point_result || points.technical_point
                                        }}
                                    </div>

                                    
                                    <div *ngIf="!points.technical_result_status && points.noColor">
                                        {{ points.athletic_result > -1 
                                            ? points.athletic_result 
                                            : points.FAC_TECH || points.technical_point_result || points.technical_point
                                        }}
                                    </div>
                                </td>
                            </tr>
                            <tr>

                                <th style="color: #fff;font-weight: 700;">ATLETIK</th>                        
                                <td *ngFor="let points of pointList">
                                    <div *ngIf="points.athletic_result_status === 1">
                                        {{ points.athletic_result }} 
                                    </div>
                                    <div *ngIf="!points.athletic_result_status && !points.noColor" style="text-decoration: line-through; color: red;">
                                        {{ points.athletic_result > -1 
                                            ? points.athletic_result 
                                            : points.FAC_ATH || points.athletic_point_result || points.athletic_point
                                        }}
                                    </div>

                                    <div *ngIf="!points.athletic_result_status && points.noColor">
                                        {{ points.athletic_result > -1 
                                            ? points.athletic_result 
                                            : points.FAC_ATH || points.athletic_point_result || points.athletic_point
                                        }}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</body>
