th{
    font-size: 20px !important;
    font-weight: 700;
}

td{
    font-size: 20px !important;
    color: #fff;
    font-family: Arial, sans-serif;
    font-weight: 600;

}
tbody{
    background: rgba(0, 0, 0, 0.2);
}
.score{
    font-size: 35px !important;
}

.badge-dangerr{
    background-color: rgb(194, 26, 26);
    color: #fff;
}
.name{
    font-size: 35px !important;

}
.blinking{
      animation:blinkingText 0.3s infinite;
  }
  @keyframes blinkingText{
      0%{     color: #ffffff;    }
      49%{    color: #ffffff; }
      60%{    color: greenyellow; }
      99%{    color: greenyellow;  }
      100%{   color: #ffffff;    }
  }
