<div class="header pb-6" style="background:url('assets/images/banner/banner6.jpg');height: 200px;">
  <div class="container-fluid">
    <div class="row align-items-center py-4">
      <p class="text-center mt-3" style="margin:auto;font-size: 40px;">
        <button class="btn bg-gradient-danger text-white text-uppercase" (click)="scoreboard()">
          <b>Navigasi ke papan skor</b>
          <i class="float-right fa fa-external-link-alt"></i>
        </button>
      </p>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div *ngFor="let item of group" class="list-group-item" class="col-md-4">
        <a href>
          <div class="card bg-gradient-info py-5">
            <h1 class="text-center text-white">
              <b>{{item.group_name}}</b>
            </h1>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
