<div class="header pb-6" style="background:url('assets/images/banner/banner6.jpg');height: 200px;">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <p class="text-center text-light mt-3" style="margin:auto;font-size: 40px;">Tambah admin</p>

            </div>
            <!-- Card stats -->

        </div>
    </div>
</div>
<div class="row" style="margin-top: -100px;">
    <div class="col"></div>
    <div class="col-lg-8 col-md-10">
        <a routerLink="/file-admin" class="btn btn-neutral mb-4"> <i class="fa fa-angle-left"></i> Back</a>
        <div class="card">

            <div class="card-body">
                <form>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Username</label>
                                    <input type="text" id="input-username" class="form-control" placeholder="Username"
                                        value="Iskandar">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Kontingen</label>
                                    <input type="text" class="form-control" placeholder="Kontingen" value="Ciukui">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1" class="form-control-label">Position</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>J-1</option>
                                        <option>J-2</option>
                                        <option>J-3</option>
                                        <option>J-4</option>
                                        <option>J-5</option>
                                        <option>J-6</option>
                                        <option>J-7</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1" class="form-control-label">Tatami</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>Tatami 1</option>
                                        <option>Tatami 2</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                        <hr class="my-4" />
                        <div class="row">

                            <div class="col-lg-12">
                                <button class="btn btn-success float-right"> <i class="fa fa-plus"></i> Tambah</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>