<div class="header pb-6" style="background:url('assets/images/banner/banner6.jpg');height: 200px;">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <p class="text-center text-capitalize text-light mt-3" style="margin:auto;font-size: 40px;">
                 Yth, <b>{{juryData.username}}</b> - {{juryData.name}}
                </p>
            </div>

        </div>
    </div>
</div>
<div class="row" style="margin-top: -80px;">
    <div class="col"></div>
    <div class="col-lg-8 col-md-10">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="text-center">
                                    <label>Nama Atlet </label>
                                    <h1> {{ userData.atlet_name }}</h1>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-center">
                                    <label>Kontingen </label>
                                    <h2>{{ userData.kontingen }}</h2>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-center">
                                    <label>Atribut </label>
                                    <h2 class="{{userData.tatami === 'ao' ? 'bg-primary' : 'bg-danger'}} text-white"> {{ userData.tatami }}</h2>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col-lg-8 col-md-10">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Nilai Teknik</label>
                                    <select (change)="_handlerPoint($event.target.value, 'techValue')" class="form-control">
                                        <option id="pointOptions" [selected]="true" value="0" selected>0</option>
                                        <option *ngFor="let option of optionValue">{{ option }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-group">
                                    <label>Nilai Atletik</label>
                                    <select class="form-control" (change)="_handlerPoint($event.target.value, 'athValue')">
                                        <option id="pointOptions2" [selected]="true" value="0" selected>0</option>
                                        <option *ngFor="let option of optionValue" >{{ option }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">

                            <div class="col-md-12">
                                <button class="btn btn-outline-dark btn-block" (click)="onSubmit()"> <i class="fa fa-award"></i> Nilai
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col"></div>
</div>
