<div class="header pb-6" style="background:url('assets/images/banner/banner6.jpg');height: 200px;">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <p class="text-center text-light mt-3" style="margin:auto;font-size: 40px;">Import Data Atlet</p>

            </div>
            <!-- Card stats -->

        </div>
    </div>
</div>
<div class="row" style="margin-top: -100px;">
    <div class="col"></div>
    <div class="col-lg-11 col-md-11">
        <div class="row">
            <div class="col-md-12">
                <a routerLink="/file-atlet" class="btn btn-sm btn-neutral mb-4"> <i class="fa fa-angle-left"></i>
                    Back</a>
                <span class="float-right badge badge-success">import .csv</span>
                <div class="card">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-12">
                                <input type="file" class="btn btn-block btn-primary" #csvReader name="Upload CSV" id="txtFileUpload"
                                  (change)="uploadListener($event)" accept=".csv" />
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="card" *ngIf="!names.length">
                    <div class="card-header bg-dark">
                        <h1 class="text-uppercase text-center text-white">
                            Data belum tersedia
                        </h1>
                    </div>
                </div>

                <div class="card" *ngIf="names.length">
                    <div class="card-header bg-primary">
                        <h1 class="text-uppercase text-center text-white">
                            {{names[0].class}}
                        </h1>
                         <!-- <div class="position-absolute">
                            <b *ngFor="let gid = index; let g of group" class="text-uppercase my-1">
                              <span class="badge badge-primary">
                                {{g.name}}
                              </span>
                              <i *ngIf="gid + 1 !== group.length" class="fa fa-caret-right mx-2 text-success"></i>
                            </b>
                         </div> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>

                                        <th>
                                            pilih
                                        </th>
                                        <th>Nama Atlet</th>
                                        <th>Kontingen</th>
                                        <th>Kata</th>
                                        <th>Grup</th>
                                        <th>Kelas</th>
                                        <th>Atribut</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let i = index; let item of names">
                                        <th>
                                            <i class="fa fa-trash text-danger" (click)="deleteForm(i)"></i>
                                            <b>
                                                {{i + 1}}
                                            </b>
                                        </th>
                                        <td>
                                            <div class="form-group">

                                                <textarea [(ngModel)]="item.name" placeholder="Nama Atlet"
                                                [ngModelOptions]="{standalone: true}" type="text"
                                                class="form-control form-control-sm text-dark font-weight-bold" rows="2"></textarea>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <textarea [(ngModel)]="item.kontingen" placeholder="Kontingen"
                                                [ngModelOptions]="{standalone: true}" type="text"
                                                class="form-control form-control-sm text-dark font-weight-bold" rows="2"></textarea>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <textarea type="text" [(ngModel)]="item.kata" placeholder="Kata"
                                                [ngModelOptions]="{standalone: true}" class="form-control form-control-sm text-dark font-weight-bold" rows="1"></textarea>
                                            </div>
                                        </td>
                                        <td>
                                          <input [(ngModel)]="item.group" placeholder="group" [ngModelOptions]="{standalone: true}" type="text"
                                            class="form-control form-control-sm text-dark font-weight-bold" />
                                        </td>
                                        <td>
                                            <input [(ngModel)]="item.class" placeholder="class" [ngModelOptions]="{standalone: true}" type="text"
                                              class="form-control form-control-sm text-dark font-weight-bold" />
                                          </td>
                                        <td>
                                            <div class="form-group">
                                                <select [(ngModel)]="item.attribute" placeholder="Nama Atlet"
                                                    [ngModelOptions]="{standalone: true}" class="form-control-sm text-dark">
                                                    <option value="aka" style="background-color: red;color: #fff;">AKA
                                                    </option>
                                                    <option value="ao" style="background-color: blue;color: #fff;">AO
                                                    </option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button (click)="setForm()" class="btn btn-primary">
                            Tambah Form
                        </button>

                        <button (click)="submitForm()" class="btn float-right btn-success">
                          Simpan Data
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
